@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-vector/warehouse-isometric-composition_1284-16052.jpg" class="d-block w-100" style="height:600px; width:700px;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.shutterstock.com/shutterstock/photos/2309758799/display_1500/stock-vector-enterprise-resource-planning-inventory-management-and-supply-chain-d-vector-illustration-concept-2309758799.jpg" class="d-block w-100" style="height:600px; width:700px;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.clickpost.ai/hubfs/featured%20images/Updated%20blog%20banner%20images%20Mar%2022/176%29-warehouse-management.webp" class="d-block w-100" style="height:600px; width:700px;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>